In [16]:
import pandas as pd

In [17]:
# read the data
df = pd.read_excel("./data/customer_data.xlsx", sheet_name='Data')
df.head()

,Sale Date,Buyer,Price,Coupon Code,Discount Amount,Currency,Transaction ID,Date Paid,Delivery City,Delivery State,Delivery Country,VAT Paid by Buyer,SKU
0,2021-08-02,B11,20,NaN,0.0,USD,2222222265,2021-08-02,Penngrove,CA,United States,0.0,P001
1,2021-08-20,B05,20,OPENINGSALE08082021,4.0,USD,2222222133,2021-08-20,van nuys,CA,United States,0.0,P001
2,2021-08-20,A11,20,SALE01,4.0,USD,2222222269,2021-08-20,Penngrove,CA,United States,0.0,P001
3,2021-09-02,A04,20,NaN,0.0,USD,2222222129,2021-09-02,Attalla,AL,United States,0.0,P001
4,2021-09-08,B04,20,NaN,0.0,USD,2222222125,2021-09-08,Cainta,Metro Manila,Philippines,0.0,P001

In [18]:
# info
df.isnull().sum()

Sale Date             0
Buyer                 0
Price                 0
Coupon Code          55
Discount Amount       0
Currency              0
Transaction ID        0
Date Paid             0
Delivery City         0
Delivery State        1
Delivery Country      0
VAT Paid by Buyer     0
SKU                   0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sale Date          69 non-null     datetime64[ns]
 1   Buyer              69 non-null     object
 2   Price              69 non-null     int64
 3   Coupon Code        14 non-null     object
 4   Discount Amount    69 non-null     float64
 5   Currency           69 non-null     object
 6   Transaction ID     69 non-null     int64
 7   Date Paid          69 non-null     datetime64[ns]
 8   Delivery City      69 non-null     object
 9   Delivery State     68 non-null     object
 10  Delivery Country   69 non-null     object
 11  VAT Paid by Buyer  69 non-null     float64
 12  SKU                69 non-null     object
dtypes: datetime64[ns](2), float64(2), int64(2), object(7)
memory usage: 7.1+ KB

In [20]:
# fill na with the mosst appears dat
df['Coupon Code'] = df['Coupon Code'].fillna(df['Coupon Code'].mode()[0])
df['Delivery State'] = df['Delivery State'].fillna(df['Delivery State'].mode()[0])
# check agai
df.isnull().sum()

Sale Date            0
Buyer                0
Price                0
Coupon Code          0
Discount Amount      0
Currency             0
Transaction ID       0
Date Paid            0
Delivery City        0
Delivery State       0
Delivery Country     0
VAT Paid by Buyer    0
SKU                  0
dtype: int64

In [21]:
# save the data
df.to_excel("./data/cleaned_data.xlsx")